<form action="/authors/new" method="post">
	<input type="text" name="name">
	<input type="submit" value="submit">
</form>

<ul>
	<% authors.forEach(function(author) { %>
		<li><%= author.name %></li>
	<% }) %>
</ul>
